/* header styles */

.navbar {
    background-color: #e3f2fd;
}

.logo {
    animation: App-logo-spin infinite 10s linear;
    height: 30px;
}

.logo-label {
    letter-spacing: 3px;
    color: var(--primary-text-color);
}

nav .cart {
    color: var(--primary-text-color) !important;
}

nav .cart-icon {
    width: 40px;
}
