/* PRODUCTS component specific styles */

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.cart-icon {
  width: 15px;
  margin-right: 3px;
}
/* Card specific styles */

.card {
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 18px !important;
}

.card .actions {
  display: flex;
  justify-content: space-between;
  background: var(--grey);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
}

.btn {
  background: var(--default-btn-color) !important;
  border: none !important;
}

.card .quantity .btn {
  padding: 5px;
}

.card .quantity span {
  padding: 0 10px;
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .products {
    grid-template-columns: 1fr;
  }
}
